.info-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
  }
  
  .info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  }
  
  .label {
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  }
  
  .value {
    text-align: left;
    font-size: 16px;
  /* margin-bottom: 6px; */
  display: block;
  }

  .get-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(75, 75, 222);
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }

  .hide-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: gray;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }

  .info-field {
    width: 45%;
    display: flex;
    align-items: center;
  }

  .users-container {
    height: 500px;
    overflow-y: scroll;
  }